extends template 

block content
        h1 Hi #{title}
        form(method='GET', action='/logout/')
            input.btn.btn-primary(type='submit', value='Logout')
        ul.navbar-nav.col-lg-3.justify-content-lg-center.ms-auto
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false' style='font-size: 12px; padding: 5px;') Sort By
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href='#') First Name
                                li
                                    a.dropdown-item(href='#') Last Name 
        //- ul.list-group
        //-     each article, i in articles
        //-         li.list-group-item
        //-             a(href="/articles/"+article._id)= article.FirstName

        table.table.table-hover.table-primary
            thead
                tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Check In
                th(scope='col') Check Out
                th(scope='col') Karma Points
                th(scope='col') Cost 
            tbody.table-group-divider
                each article, i in articles
                    tr
                        th(scope='row')= i+1
                        td
                            a(style="text-decoration:none", href="/articles/"+article._id)= article.FirstName + " " + article.LastName
                        td
                            a(style="text-decoration:none", href="/articles/"+article._id)= new Date(article.CheckIn).toDateString()
                        td
                            a(style="text-decoration:none", href="/articles/"+article._id)= new Date(article.CheckOut).toDateString()
                        td
                            a(style="text-decoration:none", href="/articles/"+article._id)= article.kPoints
                        td
                            a(style="text-decoration:none", href="/articles/"+article._id)= "$" + article.Cost
                        

                        
